{% extends "base.jinja2" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class='alert alert-{{ category }}'>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class='card'>
        <div class="card-header">
            <h3><i class="fas fa-child"></i> Welcome </h3>
        </div>
        <div class="card-body">
            <p class='text-primary'>A couple of tips to stop feeling completely lost !</p>
            <br>
            <p>This website hosts a variety of cyber-security challenges to help you train on all sorts of
                vulnerabilities: web, system, reverse…</p>
            <p>The challenges are sorted by category and into two formats:</p>
            <ul>
                <li><a href='/challenges'>Independent challenges </a>, which can be done in any order</li>
                <li><a href='/scenarios'>Scenarios </a>, which provide a story where you progress through a number of
                    challenges
                </li>
            </ul>
            <p>Most of the challenges are tied to containers launched in our infrastructure. You earn points by
                finishing challenges.</p>
            <p>Points are <strong>good</strong>. Get more points. Check your progress <a href='/ranking'>here</a>. Best
                players are shown <a href='/ranking'> here</a>. <small>Phew</small>.</p>

            <p class='text-primary'>To get started, feel free to <a href='/register'>register</a>, and remember to
                have fun! </p>
        </div>
    </div>
{% endblock %}
